#main {
  width: 100vw;
  height: auto;
  margin-bottom: 60px;

  @media only screen and (min-width: 992px) {
    margin-bottom: 120px;
  }

  img {
    width: 250px;
    height: auto;
    float: right;
    margin: 20px;
    display: none;

    @media only screen and (min-width: 768px) {
      display: initial;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
