@mixin icon-settings {
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 1.9rem;
}

footer {
  text-align: center;
  max-width: 60rem;
  margin: 4rem 0 1rem 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin: 15px;
  }

  #email-icon {
    background-image: url('/icons/email.svg');
    @include icon-settings();
  }
  #linkedin-icon {
    background-image: url('/icons/linkedin.svg');
    @include icon-settings();
  }
  #twitter-icon {
    background-image: url('/icons/twitter.svg');
    @include icon-settings();
  }
  #github-icon {
    background-image: url('/icons/github.svg');
    @include icon-settings();
  }
}
