* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: calc(1em + 1vw);

  // @media only screen and (max-width: 600px) {
  //   background-color: lightcoral;
  // }
  // @media only screen and (min-width: 600px) {
  //   background-color: lightsalmon;
  // }
  // @media only screen and (min-width: 768px) {
  //   background-color: lightgoldenrodyellow;
  // }
  // @media only screen and (min-width: 992px) {
  //   background-color: yellowgreen;
  // }
  // @media only screen and (min-width: 1200px) {
  //   background-color: lightblue;
  // }
}

section {
  padding: 0 5%;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0.09em;
    min-width: 30vw;
  }

  &::before {
    background: linear-gradient(
      to right,
      rgba(240, 240, 240, 0),
      lightslategrey
    );
    margin-right: 4vh;
  }

  &::after {
    background: linear-gradient(
      to left,
      rgba(240, 240, 240, 0),
      lightslategrey
    );
    margin-left: 4vh;
  }
}

p {
  line-height: 1.5;
}

mark {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px 4px;
}

.perfect-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
