header {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  display: grid;
  place-items: center;

  nav {
    background: #fff;
    height: 2rem;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    appearance: none;
    background: none;
    border: none;
  }

  select {
    appearance: none;
    background: none;
    border: none;
  }

  a {
    padding: 0 2px;
    display: inline;
  }
}
