#welcome {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  img {
    border-radius: 50%;
    width: 300px;
    @media only screen and (min-width: 768px) {
      width: 100%;
    }
  }

  .left-container {
    width: 100vw;
    height: 50vh;
    @media only screen and (min-width: 768px) {
      height: 100vh;
    }
  }

  .right-container {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    @media only screen and (min-width: 768px) {
      height: 100vh;
    }
  }
}
