#work-wrapper {
  max-width: 40rem;
  padding: 0 5%;
  margin: 0 auto 1rem auto;

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    background: lightcoral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      background: lightgreen;
      list-style-type: none;

      a {
        background: #000;
        color: #fff;
      }
    }
  }
}
